{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
	{% if todoitem_list and user.is_anonymous == False %}

		
		<h1 class="text-center my-3">Welcome {{user.username}}!</h1>
		
		<div class="text-center my-3">
			<h1>Task</h1>
			<ul class="text-center">
				{% for todoitem in todoitem_list %}
					<li class="text-center">
						<a href="{% url 'todolist:viewtodoitem' todoitem.id %}">{{todoitem.task_name}}</a>
					</li>
				{% endfor %}
			</ul>
			<h1>Event</h1>
			<ul class="text-center">
				{% for todoevent in todoevent_list %}
					<li class="text-center">
						<a href="{% url 'todolist:viewtodoevent' todoevent.id %}">{{todoevent.event_name}}</a>	
					</li>
				{% endfor %}			
		</div>

		</ul>

	{% elif user.is_anonymous == True %}
	
		<h1>You are not authorized to access this page.</h1>
		<p>Kindly login <a href="login">here</a></p>

	{% else %}
		<p>No tasks have been created</p>
	{% endif%}

{% endblock %}